.header {
    width:100%;
    height: 6em;
    background-color:rgba(44, 213, 255, 0.685);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header *{
    line-height: 0%;
    color:rgb(255, 255, 255);
    margin:50px;
}